
*.xlsx
*.png
*.pyc
*.sqlite
*.json
*.pyc
analyzing/%USERPROFILE/.spyder-py3/spyder.ini
analyzing/%USERPROFILE/.spyder-py3/history.py
analyzing/%USERPROFILE/.spyder-py3/onlinehelp
analyzing/%USERPROFILE/.spyder-py3/workingdir
