
*.xlsx
*.png
*.pyc
*.sqlite
*.json
*.pyc
analyzing/%USERPROFILE/.spyder-py3/spyder.ini
analyzing/%USERPROFILE/.spyder-py3/history.py
analyzing/%USERPROFILE/.spyder-py3/onlinehelp
analyzing/%USERPROFILE/.spyder-py3/workingdir
analyzing/poly_test.py
analyzing/baseflow_test.py
*.pyc
*.pyc
preprocessing/cleaned_data/__pycache__/create_cleaned_data_table.cpython-37.pyc
*.pyc
preprocessing/reformat_data/__pycache__/et_correction.cpython-37.pyc
analyzing/kge_all_years_catch - Kopie.csv
preprocessing/cleaned_data/__pycache__/create_cleaned_data_table.cpython-37.pyc
*.tiff
